*.egg-info/
*.py[cod]
*.retry
*.snap
.bundle/
.cache/
.coverage
.coverage.*
.eggs/
.mypy_cache/
.tox/
.vagrant/
.pytest_cache/
build/
dist/
docs/docstree/html/
htmlcov/
pytestdebug.log
ubuntu-xenial-16.04-cloudimg-console.log
.python-version
coverage.xml
pip-wheel-metadata
docs/docstree
.docker
molecule/**
