*.egg-info/
*.log
*.py[cod]
*.retry
*.snap
.bundle/
.cache/
.coverage
.coverage.*
.docker
.eggs/
.mypy_cache/
.pytest_cache/
.python-version
.tox/
.vagrant/
/build/
/dist/
/docs/docstree
/docs/docstree/html/
/molecule/*
coverage.xml
htmlcov/
pip-wheel-metadata
