---
ci:
  skip:
    # https://github.com/pre-commit-ci/issues/issues/55
    - pip-compile
    - schema
default_language_version:
  python: python3.8
repos:
  - repo: local
    hooks:
      - id: schema
        name: schema
        entry: bash -c "cd tools/test-schema && npm install && npm test"
        pass_filenames: false
        always_run: true
        language: node
  - repo: https://github.com/pre-commit/mirrors-prettier
    # keep it before yamllint
    rev: "v3.0.0-alpha.4"
    hooks:
      - id: prettier
        # Temporary excludes so we can gradually normalize the formatting
        exclude: >
          (?x)^(
            src/molecule/cookiecutter/.*|
            src/molecule/test/resources/templates/.*|
            tools/test-schema/(negative_test|test)/.*|
          )$
        additional_dependencies:
          - prettier
          - prettier-plugin-toml
  - repo: https://github.com/PyCQA/doc8
    rev: "v1.0.0"
    hooks:
      - id: doc8
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        exclude: >
          (?x)^(
            tools/test-schema/package-lock.json
          )$
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
        language_version: python3
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - pydocstyle>=5.1.1
          - flake8-absolute-import
          - flake8-black>=0.1.1
          - flake8-docstrings>=1.5.0
        language_version: python3
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.28.0
    hooks:
      - id: yamllint
        files: \.(yaml|yml)$
        types: [file, yaml]
        entry: yamllint --strict
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        # empty args needed in order to match mypy cli behavior
        args: []
        entry: mypy src/
        pass_filenames: false
        additional_dependencies:
          - ansible-compat>=2.2.0
          - click>=8.0.1
          - enrich>=1.2.7
          - importlib-metadata>=4.6.1
          - jinja2
          - packaging
          - rich
          - ruamel.yaml>=0.17.10
          - types-PyYAML
          - types-dataclasses
          - types-filelock
          - types-setuptools
  - repo: https://github.com/PyCQA/pylint
    rev: v2.15.6
    hooks:
      - id: pylint
        additional_dependencies:
          - ansible-compat>=2.2.0
          - click
          - click-help-colors
          - cookiecutter
          - enrich>=1.2.7
          - filelock
          - jsonschema
          - pexpect
          - testinfra
  - repo: https://github.com/jazzband/pip-tools
    rev: 6.10.0
    hooks:
      - id: pip-compile
        entry: pip-compile -q --resolver=backtracking --strip-extras --no-annotate --output-file=requirements.txt tools/opts.txt setup.cfg --extra docs --extra test --extra lint
      - id: pip-compile
        name: pip-compile-upgrade
        entry: pip-compile -q  --resolver=backtracking --strip-extras -q --upgrade --no-annotate --output-file=requirements.txt tools/opts.txt setup.cfg --extra docs --extra test --extra lint
        files: ^(setup\.cfg|requirements.txt|constraints\.txt)$
        stages: [manual]
