---
ci:
  skip:
    # https://github.com/pre-commit-ci/issues/issues/55
    - pip-compile
default_language_version:
  python: python3.9
repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    # keep it before yamllint
    rev: "v3.0.0"
    hooks:
      - id: prettier
        # Temporary excludes so we can gradually normalize the formatting
        exclude: >
          (?x)^(
            src/molecule/test/resources/templates/.*|
          )$
        additional_dependencies:
          - prettier
          - prettier-plugin-toml
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
        language_version: python3

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.32.0
    hooks:
      - id: yamllint
        files: \.(yaml|yml)$
        types: [file, yaml]
        entry: yamllint --strict
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.0.278"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
        # empty args needed in order to match mypy cli behavior
        args: []
        entry: mypy src/
        pass_filenames: false
        additional_dependencies:
          - ansible-compat>=4.1.2
          - click>=8.0.1,<8.1.4 # https://github.com/pallets/click/issues/2558
          - enrich>=1.2.7
          - importlib-metadata>=4.6.1
          - jinja2
          - packaging
          - pytest
          - pytest-mock
          - rich
          - ruamel.yaml>=0.17.10
          - types-PyYAML
          - types-dataclasses
          - types-filelock
          - types-jsonschema
          - types-setuptools
  - repo: https://github.com/pycqa/pylint
    rev: v3.0.0a6
    hooks:
      - id: pylint
        args:
          - --output-format=colorized
        additional_dependencies:
          - ansible-compat>=4.1.2
          - click
          - click-help-colors
          - enrich>=1.2.7
          - filelock
          - jsonschema
          - pexpect
          - pytest-mock
  - repo: https://github.com/jazzband/pip-tools
    rev: 7.0.0
    hooks:
      - id: pip-compile
        entry: pip-compile -q --resolver=backtracking --strip-extras --no-annotate --output-file=.config/requirements.txt pyproject.toml --extra docs --extra test
        files: ^(pyproject\.toml|\.config\/.*)$
      - id: pip-compile
        name: pip-compile-upgrade
        alias: up
        entry: pip-compile -q  --resolver=backtracking --strip-extras -q --upgrade --no-annotate --output-file=.config/requirements.txt pyproject.toml --extra docs --extra test
        files: ^(pyproject\.toml|\.config\/.*)$
        stages: [manual]
      - id: pip-compile
        name: lock
        alias: lock
        always_run: true
        entry: pip-compile --upgrade --resolver=backtracking --no-annotate --output-file=.config/requirements-lock.txt pyproject.toml --strip-extras --unsafe-package ruamel-yaml-clib
        files: ^.config\/requirements.*$
        language: python
        language_version: "3.9" # minimal we support officially
        pass_filenames: false
        stages: [manual]
        additional_dependencies:
          - pip>=22.3.1
