[MESSAGES CONTROL]

disable =
    # TODO(ssbarnea): remove temporary skips adding during initial adoption:
    abstract-method,
    arguments-differ,
    bad-continuation,
    broad-except,
    consider-merging-isinstance,
    consider-using-in,
    dangerous-default-value,
    duplicate-code,
    fixme,
    implicit-str-concat,
    import-error,
    import-outside-toplevel,
    inconsistent-return-statements,
    invalid-name,
    line-too-long,
    logging-format-interpolation,
    logging-not-lazy,
    misplaced-comparison-constant,
    missing-function-docstring,
    missing-module-docstring,
    no-else-raise,
    no-else-return,
    no-member,
    no-self-argument,
    no-self-use,
    no-value-for-parameter,
    not-callable,
    protected-access,
    raise-missing-from,
    redefined-builtin,
    redefined-outer-name,
    subprocess-run-check,
    super-init-not-called,
    super-with-arguments,
    too-few-public-methods,
    too-many-ancestors,
    too-many-arguments,
    too-many-public-methods,
    unidiomatic-typecheck,
    unnecessary-comprehension,
    unnecessary-lambda,
    unused-argument,
    unused-import,
    unused-variable,
    useless-object-inheritance,
    useless-super-delegation,

[REPORTS]
output-format = colorized

[IMPORTS]
preferred-modules =
    ansible:,
