---
conditions: v1
dist: xenial

git:
  depth: 200

cache:
  bundler: true
  pip: true
  directories:
    - $HOME/.cache/pre-commit
    - $HOME/.pre-commit
    - $HOME/.rvm
    - $HOME/Library/Caches/Homebrew

services:
  - docker

language: python

.mixtures:  # is not used by Travis CI, but helps avoid duplication
  - &if-cron-or-manual-run-or-tagged
    if: type IN (cron, api) OR tag IS present
  - &py-27
    python: "2.7"
  - &py-36
    python: "3.6"
  - &py-37
    python: "3.7"
  - &py-38
    python: "3.8"
  - &reset-prerequisites
    addons: {}
    before_install:
      - pip install tox-venv tox-tags
    before_script: []
    services: []
  - &lint
    <<: *py-37
    <<: *reset-prerequisites

jobs:
  fast_finish: true

  allow_failures:
    - <<: *py-37
      env:
        - TOXENV=ansibledevel-unit

    - <<: *py-37
      env:
        - PYTEST_ADDOPTS='-m shard_1_of_2'
        - TOXENV=ansibledevel-functional
    - <<: *py-37
      env:
        - PYTEST_ADDOPTS='-m shard_2_of_2'
        - TOXENV=ansibledevel-functional
    - <<: *py-36
      env:
        - TOXENV="ansibledevel-unit"
    - <<: *py-36
      env:
        - PYTEST_ADDOPTS='-m shard_1_of_2'
        - TOXENV=ansibledevel-functional
    - <<: *py-36
      env:
        - PYTEST_ADDOPTS='-m shard_2_of_2'
        - TOXENV=ansibledevel-functional
    - <<: *py-27
      env:
        - TOXENV=ansibledevel-unit
    - <<: *py-27
      env:
        - PYTEST_ADDOPTS='-m shard_1_of_2'
        - TOXENV=ansibledevel-functional
    - <<: *py-27
      env:
        - PYTEST_ADDOPTS='-m shard_2_of_2'
        - TOXENV=ansibledevel-functional

  include:
    - <<: *lint
      name: linting the code
      env:
        - TOXENV=lint

    - <<: *lint
      name: checking the docs build
      env:
        - TOXENV=doc

    - <<: *lint
      name: check,dockerfile,build-docker
      env:
        - TOXENV=check,dockerfile,build-docker

    - <<: *py-38
      env:
        - TOXENV=ansible29-unit
      name: unit tests, Ansible 2.9, Python 3.8

    - <<: *py-38
      env:
        - TOXENV=ansible28-unit
      name: unit tests, Ansible 2.8, Python 3.8

    - <<: *py-37
      env:
        - TOXENV=ansible29-unit
      name: unit tests, Ansible 2.9, Python 3.7

    - <<: *py-37
      env:
        - TOXENV=ansible28-unit
      name: unit tests, Ansible 2.8, Python 3.7

    - <<: *py-36
      <<: *if-cron-or-manual-run-or-tagged
      env:
        - TOXENV=ansible29-unit
      name: unit tests, Ansible 2.9, Python 3.6

    - <<: *py-36
      <<: *if-cron-or-manual-run-or-tagged
      env:
        - TOXENV=ansible28-unit
      name: unit tests, Ansible 2.8, Python 3.6

    - <<: *py-27
      env:
        - TOXENV=ansible29-unit
      name: unit tests, Ansible 2.9, Python 2.7

    - <<: *py-27
      env:
        - TOXENV=ansible28-unit
      name: unit tests, Ansible 2.8, Python 2.7

    - <<: *py-37
      env:
        - PYTEST_ADDOPTS='-m shard_1_of_2'
        - TOXENV=ansible29-functional
      name: functional tests shard 1, Ansible 2.9, Python 3.7

    - <<: *py-37
      env:
        - PYTEST_ADDOPTS='-m shard_2_of_2'
        - TOXENV=ansible29-functional
      name: functional tests shard 2, Ansible 2.9, Python 3.7

    - <<: *py-37
      env:
        - PYTEST_ADDOPTS='-m shard_1_of_2'
        - TOXENV=ansible28-functional
      name: functional tests shard 1, Ansible 2.8, Python 3.7

    - <<: *py-37
      env:
        - PYTEST_ADDOPTS='-m shard_2_of_2'
        - TOXENV=ansible28-functional
      name: functional tests shard 2, Ansible 2.8, Python 3.7

    - <<: *py-36
      <<: *if-cron-or-manual-run-or-tagged
      env:
        - PYTEST_ADDOPTS='-m shard_1_of_2'
        - TOXENV=ansible28-functional
      name: functional tests shard 1, Ansible 2.8, Python 3.6

    - <<: *py-36
      <<: *if-cron-or-manual-run-or-tagged
      env:
        - PYTEST_ADDOPTS='-m shard_2_of_2'
        - TOXENV=ansible28-functional
      name: functional tests shard 2, Ansible 2.8, Python 3.6

    - <<: *py-27
      env:
        - PYTEST_ADDOPTS='-m shard_1_of_2'
        - TOXENV=ansible29-functional
      name: functional tests shard 1, Ansible 2.9, Python 2.7

    - <<: *py-27
      env:
        - PYTEST_ADDOPTS='-m shard_2_of_2'
        - TOXENV=ansible29-functional
      name: functional tests shard 2, Ansible 2.9, Python 2.7

    - <<: *py-27
      env:
        - PYTEST_ADDOPTS='-m shard_1_of_2'
        - TOXENV=ansible28-functional
      name: functional tests shard 1, Ansible 2.8, Python 2.7

    - <<: *py-27
      env:
        - PYTEST_ADDOPTS='-m shard_2_of_2'
        - TOXENV=ansible28-functional
      name: functional tests shard 2, Ansible 2.8, Python 2.7

    # The following set of jobs is running tests against devel branch
    # of ansible/ansible:

    - <<: *py-37
      <<: *if-cron-or-manual-run-or-tagged
      env:
        - TOXENV=ansibledevel-unit
    - <<: *py-37
      <<: *if-cron-or-manual-run-or-tagged
      env:
        - PYTEST_ADDOPTS='-m shard_1_of_2'
        - TOXENV=ansibledevel-functional
    - <<: *py-37
      <<: *if-cron-or-manual-run-or-tagged
      env:
        - PYTEST_ADDOPTS='-m shard_2_of_2'
        - TOXENV=ansibledevel-functional

    - <<: *py-36
      <<: *if-cron-or-manual-run-or-tagged
      env:
        - TOXENV=ansibledevel-unit
    - <<: *py-36
      <<: *if-cron-or-manual-run-or-tagged
      env:
        - PYTEST_ADDOPTS='-m shard_1_of_2'
        - TOXENV=ansibledevel-functional
    - <<: *py-36
      <<: *if-cron-or-manual-run-or-tagged
      env:
        - PYTEST_ADDOPTS='-m shard_2_of_2'
        - TOXENV=ansibledevel-functional

    - <<: *py-27
      <<: *if-cron-or-manual-run-or-tagged
      env:
        - TOXENV=ansibledevel-unit
    - <<: *py-27
      <<: *if-cron-or-manual-run-or-tagged
      env:
        - PYTEST_ADDOPTS='-m shard_1_of_2'
        - TOXENV=ansibledevel-functional
    - <<: *py-27
      <<: *if-cron-or-manual-run-or-tagged
      env:
        - PYTEST_ADDOPTS='-m shard_2_of_2'
        - TOXENV=ansibledevel-functional

    - &deploy-job
      <<: *py-37
      <<: *reset-prerequisites
      stage: Deploy
      name: Publishing current Git tagged version of dist to PyPI
      if: repo == "ansible/molecule" AND tag IS present
      env:
        - TOXENV=build-dists,build-docker
      before_deploy:
        - echo > setup.py
        - docker login -u="$QUAY_USERNAME" -p="$QUAY_PASSWORD" quay.io
      deploy: &deploy-step
        provider: pypi
        user: ansible-molecule
        password:
          secure: >
            HPBkDwncLYLEzxirPfNB88GYFWZ/wA1jMgCd4wT7SgKQlIyRSCT6KXMfoOUVMH/uwaLggoURaGtmD/qnrfXj+bG15nBCCOaIZdXzODln/PwDFAYT8ZspzRPzQOfncdk4WTsVbwpiGgpdm+TxGGBz8yedvVXiTwmwLCGC0FsAE8Wp8krNH1Kwqp3OaZeePakIbEj0UXgCTnAol3ZgVWWy+6bfDBb/aLiGXjsAIb7sY6HzwvQUr43xFO7tReaGO23mGwgIy/tNstXarwxezlw6FlGe5KJGvE/a4yAPuWg9kuJt5MqwbCJzhP38SeH4Gc6x0o6jPT/+NbvLV1ck1Qbz5gCYmXlOzucDP+P5t8E3g+zJbNbCR00k1BpG3MIEzrHeyp/hCdDYnGB3TVnlj+L4Y/yoUdCq9FJI8xHLbj/fMe5vxBMMsvDbt2JJReavi3WB2pv2nHtivkKj/Kow4FRm+Kp3WH4x5NlZDjV5gsUbwPcN1kIpb09sPZE2wYugvCTOiExt7mdd0JMMcgxuR1jGgGxqRARQeqjz14VVNsrVIIrMh8JX8u7Rl9sqmU4UuLGTxnq2cwyBmYzJ0gmDgN3TvQ96n9D2sP0YQj35v7RY5vsdYsfLucLdTfTajP9OL4Bw+ogXMJrArIq+j+7uJyTFqNdAN+Y6nX7WV0W6rp8aA1I=
        distributions: dists
        skip-cleanup: true
        "on":
          all_branches: true

    - <<: *deploy-job
      if: >-  # publish only pushes to master and tags; only if upstream
        repo == "ansible/molecule" AND
        (
          (
            type == push AND
            branch == "master"
          ) OR
          tag IS present
        )
      name: Publishing current (unstable) Git revision of dist to Test PyPI
      deploy:
        <<: *deploy-step
        server: https://test.pypi.org/legacy/

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y software-properties-common uidmap
  - sudo add-apt-repository -y ppa:projectatomic/ppa
  - sudo apt-get update -qq
  - sudo apt-get -y install podman
  - pip install tox-tags
script:
  # keep it like this to first create env and later to run again with tests
  # in order to avoid regressions to run twice on the same environment.
  - podman version
  - docker version
  - tox --notest
  - tox
