---
conditions: v1
dist: xenial

git:
  depth: 200

cache:
  bundler: true
  pip: true
  directories:
    - $HOME/.cache/pre-commit
    - $HOME/.pre-commit
    - $HOME/.rvm
    - $HOME/virtualenv/python$(python -c 'import platform; print(platform.python_version())')
    - $HOME/Library/Caches/Homebrew

services:
  - docker

language: python

jobs:
  fast_finish: true

  allow_failures:
    - env:
        - ANSIBLE_VERSION=devel
        - TESTS_TYPE=unit
      python: "3.7"
    - env:
        - ANSIBLE_VERSION=devel
        - TESTS_TYPE=functional
      python: "3.7"
    - env:
        - ANSIBLE_VERSION=devel
        - TESTS_TYPE=unit
      python: "3.6"
    - env:
        - ANSIBLE_VERSION=devel
        - TESTS_TYPE=functional
      python: "3.6"
    - env:
        - ANSIBLE_VERSION=devel
        - TESTS_TYPE=unit
      python: "2.7"
    - env:
        - ANSIBLE_VERSION=devel
        - TESTS_TYPE=functional
      python: "2.7"

  include:
    - name: linting the code
      env:
        - TOXENV=lint
      python: "3.7"
      addons: {}
      before_install:
        - pip install tox-venv tox-tags
      before_script: []
      services: []

    - name: checking the code style
      env:
        - TOXENV=format-check
      python: "3.7"
      addons: {}
      before_install:
        - pip install tox-venv tox-tags
      before_script: []
      services: []
    
    - name: checking the docs build
      env:
        - TOXENV=doc
      python: "3.7"
      addons: {}
      before_install:
        - pip install tox-venv tox-tags
      before_script: []
      services: []

    - name: checking the Python distribution package metadata consistency
      if: repo == "ansible/molecule" AND type IN (cron, pull_request)  # Only run if PR or cron
      env:
        - TOXENV=metadata-validation
      python: "3.7"
      addons: {}
      before_install:
        - pip install tox-venv tox-tags
      before_script: []
      services: []
    
    - env:
        - ANSIBLE_VERSION="28"
        - TESTS_TYPE=unit
      name: unit tests, Ansible 2.8, Python 3.7
      python: "3.7"

    - env:
        - ANSIBLE_VERSION="27"
        - TESTS_TYPE=unit
      name: unit tests, Ansible 2.7, Python 3.7
      python: "3.7"

    - env:
        - ANSIBLE_VERSION="26"
        - TESTS_TYPE=unit
      name: unit tests, Ansible 2.6, Python 3.7
      python: "3.7"

    - env:
        - ANSIBLE_VERSION="28"
        - TESTS_TYPE=unit
      name: unit tests, Ansible 2.8, Python 3.6
      python: "3.6"
      if: type IN (cron, api) OR tag IS present

    - env:
        - ANSIBLE_VERSION="27"
        - TESTS_TYPE=unit
      name: unit tests, Ansible 2.7, Python 3.6
      python: "3.6"
      if: type IN (cron, api) OR tag IS present

    - env:
        - ANSIBLE_VERSION="26"
        - TESTS_TYPE=unit
      name: unit tests, Ansible 2.6, Python 3.6
      python: "3.6"
      if: type IN (cron, api) OR tag IS present

    - env:
        - ANSIBLE_VERSION="28"
        - TESTS_TYPE=unit
      name: unit tests, Ansible 2.8, Python 2.7
      python: "2.7"

    - env:
        - ANSIBLE_VERSION="27"
        - TESTS_TYPE=unit
      name: unit tests, Ansible 2.7, Python 2.7
      python: "2.7"

    - env:
        - ANSIBLE_VERSION="26"
        - TESTS_TYPE=unit
      name: unit tests, Ansible 2.6, Python 2.7
      python: "2.7"

    - env:
        - ANSIBLE_VERSION="28"
        - TESTS_TYPE=functional
      name: functional tests, Ansible 2.8, Python 3.7
      python: "3.7"

    - env:
        - ANSIBLE_VERSION="27"
        - TESTS_TYPE=functional
      name: functional tests, Ansible 2.7, Python 3.7
      python: "3.7"

    - env:
        - ANSIBLE_VERSION="26"
        - TESTS_TYPE=functional
      name: functional tests, Ansible 2.6, Python 3.7
      python: "3.7"

    - env:
        - ANSIBLE_VERSION="28"
        - TESTS_TYPE=functional
      name: functional tests, Ansible 2.8, Python 3.6
      python: "3.6"
      if: type IN (cron, api) OR tag IS present

    - env:
        - ANSIBLE_VERSION="27"
        - TESTS_TYPE=functional
      name: functional tests, Ansible 2.7, Python 3.6
      python: "3.6"
      if: type IN (cron, api) OR tag IS present

    - env:
        - ANSIBLE_VERSION="26"
        - TESTS_TYPE=functional
      name: functional tests, Ansible 2.6, Python 3.6
      python: "3.6"
      if: type IN (cron, api) OR tag IS present

    - env:
        - ANSIBLE_VERSION="28"
        - TESTS_TYPE=functional
      name: functional tests, Ansible 2.8, Python 2.7
      python: "2.7"

    - env:
        - ANSIBLE_VERSION="27"
        - TESTS_TYPE=functional
      name: functional tests, Ansible 2.7, Python 2.7
      python: "2.7"

    - env:
        - ANSIBLE_VERSION="26"
        - TESTS_TYPE=functional
      name: functional tests, Ansible 2.6, Python 2.7
      python: "2.7"

    # The following set of jobs is running tests against devel branch
    # of ansible/ansible:

    - env:
        - ANSIBLE_VERSION=devel
        - TESTS_TYPE=unit
      name: unit tests, Ansible devel, Python 3.7
      python: "3.7"
      if: type IN (cron, api) OR tag IS present

    - env:
        - ANSIBLE_VERSION=devel
        - TESTS_TYPE=functional
      name: functional tests, Ansible devel, Python 3.7
      python: "3.7"
      if: type IN (cron, api) OR tag IS present

    - env:
        - ANSIBLE_VERSION=devel
        - TESTS_TYPE=unit
      name: functional unit, Ansible devel, Python 3.6
      python: "3.6"
      if: type IN (cron, api) OR tag IS present

    - env:
        - ANSIBLE_VERSION=devel
        - TESTS_TYPE=functional
      name: functional tests, Ansible devel, Python 3.6
      python: "3.6"
      if: type IN (cron, api) OR tag IS present

    - env:
        - ANSIBLE_VERSION=devel
        - TESTS_TYPE=unit
      name: unit tests, Ansible devel, Python 2.7
      python: "2.7"
      if: type IN (cron, api) OR tag IS present

    - env:
        - ANSIBLE_VERSION=devel
        - TESTS_TYPE=functional
      name: functional tests, Ansible devel, Python 2.7
      python: "2.7"
      if: type IN (cron, api) OR tag IS present

    - &deploy-job
      python: "3.7"
      stage: Deploy
      name: Publishing current Git tagged version of dist to PyPI
      if: repo == "ansible/molecule" AND tag IS present
      env:
        - TOXENV=metadata-validation,build-dists
      before_deploy:
        - echo > setup.py
      deploy: &deploy-step
        provider: pypi
        user: ansible-molecule
        password:
          secure: >
            HPBkDwncLYLEzxirPfNB88GYFWZ/wA1jMgCd4wT7SgKQlIyRSCT6KXMfoOUVMH/uwaLggoURaGtmD/qnrfXj+bG15nBCCOaIZdXzODln/PwDFAYT8ZspzRPzQOfncdk4WTsVbwpiGgpdm+TxGGBz8yedvVXiTwmwLCGC0FsAE8Wp8krNH1Kwqp3OaZeePakIbEj0UXgCTnAol3ZgVWWy+6bfDBb/aLiGXjsAIb7sY6HzwvQUr43xFO7tReaGO23mGwgIy/tNstXarwxezlw6FlGe5KJGvE/a4yAPuWg9kuJt5MqwbCJzhP38SeH4Gc6x0o6jPT/+NbvLV1ck1Qbz5gCYmXlOzucDP+P5t8E3g+zJbNbCR00k1BpG3MIEzrHeyp/hCdDYnGB3TVnlj+L4Y/yoUdCq9FJI8xHLbj/fMe5vxBMMsvDbt2JJReavi3WB2pv2nHtivkKj/Kow4FRm+Kp3WH4x5NlZDjV5gsUbwPcN1kIpb09sPZE2wYugvCTOiExt7mdd0JMMcgxuR1jGgGxqRARQeqjz14VVNsrVIIrMh8JX8u7Rl9sqmU4UuLGTxnq2cwyBmYzJ0gmDgN3TvQ96n9D2sP0YQj35v7RY5vsdYsfLucLdTfTajP9OL4Bw+ogXMJrArIq+j+7uJyTFqNdAN+Y6nX7WV0W6rp8aA1I=
        distributions: dists
        skip-cleanup: true
        "on":
          all_branches: true
      addons: {}
      before_install:
        - pip install tox-venv tox-tags
      before_script: []
      services: []
      
    - <<: *deploy-job
      if: >-  # publish only pushes to master and tags; only if upstream
        repo == "ansible/molecule" AND
        (
          (
            type == push AND
            branch == "master"
          ) OR
          tag IS present
        )
      name: Publishing current (unstable) Git revision of dist to Test PyPI
      deploy:
        <<: *deploy-step
        server: https://test.pypi.org/legacy/

env:
  global:
    - TOXENV_TMPL="'ansible${ANSIBLE_VERSION}-${TESTS_TYPE}'"
addons:
  apt:
    packages:
      - lxc
      - lxc-dev
      - lxd
      - lxd-client
before_install:
  - export TOXENV=$(echo $TOXENV_TMPL | envsubst)
  - pip install tox-venv tox-tags
install:
  - tox --notest | tee ~/.tox-venv-install.log
  - >
    ! grep 'ERROR: ' ~/.tox-venv-install.log .tox/*/log/*.log
before_script:
  - gem install inspec -v '~> 3'
  - gem install rubocop -v '~> 0.69.0'
script:
  - tox
