extends: default
ignore: |
  *.molecule/
  molecule/cookiecutter/

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  document-start: disable
  line-length: disable
  key-duplicates: enable
  truthy: disable
