extends: default
ignore: |
  *.molecule/
  molecule/cookiecutter/
  .tox
  # HACK: https://github.com/pyupio/pyup/issues/346
  .pyup.yml

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  document-start: disable
  line-length: disable
  truthy:
    allowed-values: ['true', 'false', 'on']
