prune asset
include *.md
include *.py
include *.txt
include *.yaml
include *.yml
include .ansible.cfg
include .coveragerc
include .pylintrc
include .yamllint
include mypy.ini
include tox.ini
include src/molecule/test/functional/.ansible-lint
include .config/molecule/config.yml
recursive-include docs *.ico
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include src *.flake8
recursive-include src *.j2
recursive-include src *.json
recursive-include src *.md
recursive-include src *.py
recursive-include src *.rst
recursive-include src *.typed
recursive-include src *.yaml
recursive-include src *.yamllint
recursive-include src *.yml
recursive-include playbooks *.yaml
recursive-include snap *.yaml
recursive-include tools *.sh
recursive-include src/molecule/test/scenarios extra-host
recursive-include src/molecule/test/scenarios hosts
recursive-exclude .github *.*
recursive-exclude .mypy_cache *.*
recursive-exclude docs/docstree/html *.*
recursive-exclude zuul.d *.*
