prune .github
prune asset
prune playbooks
prune snap
prune zuul.d
prune docs/docstree
include .config/molecule/config.yml
include .ansible.cfg
include .coveragerc
include .git_archival.txt
include .pre-commit-config.yaml
include .pylintrc
include .pyup.yml
include .readthedocs.yml
include .yamllint
include DCO_1_1.md
include bindep.txt
include conftest.py
include constraints.txt
include mypy.ini
include tox.ini
include docs/_static/images/*.*
include docs/*.*
recursive-include src .ansible-lint
recursive-include src *.flake8
recursive-include src *.j2
recursive-include src *.md
recursive-include src *.py
recursive-include src *.rst
recursive-include src *.typed
recursive-include src *.yaml
recursive-include src *.yamllint
recursive-include src *.yml
recursive-include src cookiecutter.json
recursive-include src/molecule/test/scenarios extra-host
recursive-include src/molecule/test/scenarios hosts
recursive-include tools *.sh
