[build-system]
requires = [
  "setuptools >= 45",
  "setuptools_scm[toml] >= 7.0.0",
]
build-backend = "setuptools.build_meta"

[tool.coverage.run]
source = ["src"]
branch = true

[tool.coverage.report]
exclude_lines = ["pragma: no cover", "if TYPE_CHECKING:"]

[tool.black]
skip-string-normalization = false

[tool.isort]
profile = "black"
known_first_party = "molecule"

[tool.pytest.ini_options]
markers = [
  "serial: Run this test serially via filelock.",
  "extensive: marks tests that we want to skip by default, as they are indirectly covered by other tests"
]
norecursedirs = [
  ".eggs",
  ".tox",
  "build",
  "dist",
  "doc",
  "src/molecule/cookiecutter/scenario",
  "src/molecule/test/resources",
  "src/molecule/test/scenarios",
]
addopts = "--doctest-modules --durations 10 --color=yes"
doctest_optionflags = ["ALLOW_UNICODE", "ELLIPSIS"]
junit_suite_name = "molecule_test_suite"
testpaths = "src/molecule/test/"
filterwarnings = [
  # treat warnings as errors unless we add them below
  "error",
  # https://github.com/certifi/python-certifi/pull/193
  "ignore:path is deprecated.*:DeprecationWarning",
  # https://github.com/pytest-dev/pytest-cov/issues/557
  "ignore:The --rsyncdir command line argument and rsyncdirs config variable are deprecated.:DeprecationWarning",
  # ignore::UserWarning

]

[tool.setuptools_scm]
local_scheme = "no-local-version"
