ansible-lint==3.2.5
anyconfig==0.7.0
click==6.7
colorama==0.3.7
cookiecutter==1.4.0
flake8==3.0.4
gilt-python==1.0.0
Jinja2==2.8
paramiko==2.0.2
pbr==1.10.0
pexpect==4.2.1
PyYAML==3.12
sh==1.12.9
tabulate==0.7.5
testinfra==1.4.2
