ansible-lint==3.4.19
anyconfig==0.9.1
click==6.7
click-completion==0.2.1
colorama==0.3.7
cookiecutter==1.5.1
flake8==3.3.0
python-gilt==1.1.0
Jinja2==2.9.6
marshmallow==2.13.5
pbr==3.0.1
pexpect==4.2.1
psutil==5.2.2
PyYAML==3.12
sh==1.12.14
tabulate==0.7.7
testinfra==1.7.1
tree-format==0.1.1
yamllint==1.8.1
