-r requirements.txt
mock==2.0.0
pur==5.2.1
pytest==3.6.0
pytest-cov==2.6.0
pytest-helpers-namespace==2019.1.8
pytest-mock==1.10.0
pytest-verbose-parametrize==1.4.0
pytest-xdist==1.26.0
# The error was: KeyError: 'created_at'
shade==1.22.2
twine
wheel==0.30.0
yapf>=0.25.0,<2
