mock
pur
# pytest==3.1.0 issues with pytest-verbose-parametrize
pytest==3.0.7
pytest-cov==2.6.0
pytest-helpers-namespace
pytest-mock
pytest-verbose-parametrize
pytest-xdist==1.26.0
# The error was: KeyError: 'created_at'
shade==1.22.2
twine
wheel==0.30.0
yapf==0.21.0
https://github.com/AndreLouisCaron/tox-tags/archive/master.zip#egg=tox-tags
