# Molecule managed

[defaults]

roles_path      = {{ cookiecutter.ansiblecfg_molecule_dir }}/roles:{{ cookiecutter.ansiblecfg_molecule_dir }}/../roles:../:../../
library         = {{ cookiecutter.ansiblecfg_ansible_library_path }}
ansible_managed = {{ cookiecutter.ansiblecfg_ansible_managed }}
{{- cookiecutter.ansiblecfg_defaults }}

[ssh_connection]
{{- cookiecutter.ansiblecfg_ssh_connection }}
