extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length:
    allow-non-breakable-inline-mappings: true
    allow-non-breakable-words: true
    max: 160
  truthy: disable
