---
{% raw -%}
- hosts: all
  gather_facts: no
  tasks:
    - name: Install python for Ansible
      raw: test -e /usr/bin/python || (apt -y update && apt install -y python-minimal)
      become: yes
      changed_when: False
{%- endraw %}

- hosts: all
  roles:
    - role: {{ cookiecutter.role_name }}
