ansi2html >= 1.8.0
ansible-lint >= 6.12.1
black
check-jsonschema
coverage[toml]
docker >= 7.1.0 # testing
filelock >= 3.9.0
flake8
mypy
pexpect >= 4.8.0, < 5
pip-tools
pre-commit
pydoclint[flake8]
pylint
pytest
pytest-mock >= 3.10.0
pytest-plus >= 0.4.0
pytest-xdist
requests != 2.32.0 # https://github.com/docker/docker-py/issues/3256
ruff
toml-sort
tox
types-jsonschema
types-pexpect
types-pyyaml
