ansible-compat >= 4.1.2
ansible-core >= 2.12.10
click >= 8.0, < 9
click-help-colors >= 0.9
cookiecutter >= 1.7.3 # dependency issues in older versions
enrich >= 1.2.7
jsonschema >= 4.9.1
Jinja2 >= 2.11.3
packaging
pluggy >= 0.7.1, < 2.0
PyYAML >= 5.1
rich >= 9.5.1
