[defaults]

roles_path     = roles:../
library        = ../../library
action_plugins = ../../plugins/actions
cache_plugins = ../../plugins/caches
callback_plugins = ../../plugins/callbacks
connection_plugins = ../../plugins/connections
lookup_plugins = ../../plugins/lookups
filter_plugins = ../../plugins/filters
var_plugins = ../../plugins/vars
