# encoding: UTF-8

require 'rake'
require 'rspec/core/rake_task'
require 'yaml'
require 'fileutils'

task spec: 'serverspec:all'
task default: :spec

instances = YAML.load_file('{{ state_file }}')['instances']

namespace :serverspec do
  task all: instances.keys
  instances.each do |name, groups|
    desc "Run serverspec on #{name}"
    pattern = ['{{ serverspec_dir }}/*_spec.rb', "{{ serverspec_dir }}/#{name}/*_spec.rb", "{{ serverspec_dir }}/hosts/#{name}/*_spec.rb"]

    groups.each do |group|
      pattern << "{{ serverspec_dir }}/#{group}/*_spec.rb"
      pattern << "{{ serverspec_dir }}/groups/#{group}/*_spec.rb"
    end

    RSpec::Core::RakeTask.new(name.to_sym) do |target|
      puts "*** Run serverspec on #{name} instance ***"
      ENV['TARGET_HOST'] = name
      target.pattern = pattern.join(',')
    end
  end
end
