---
name: release

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      galaxy_publish:
        type: boolean
        description: Publish on galaxy.ansible.com
        default: false
      pypi_publish:
        type: boolean
        description: Publish on pypi.org
        default: false
jobs:
  release:
    if: "${{ github.event_name == 'release' || inputs.pypi_publish }}"
    environment: release
    runs-on: ubuntu-24.04
    permissions:
      id-token: write

    env:
      FORCE_COLOR: 1
      PY_COLORS: 1

    steps:
      - name: Switch to using Python 3.12 by default
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install tox
        run: python3 -m pip install --user "tox>=4.0.0"

      - name: Check out src from Git
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # needed by setuptools-scm

      - name: Build dists
        run: python3 -m tox -e pkg

      - name: Publish to pypi.org
        uses: pypa/gh-action-pypi-publish@release/v1

  publish-collection:
    if: "${{ github.event_name == 'release' || inputs.galaxy_publish }}"
    runs-on: ubuntu-latest
    environment: release
    steps:
      - uses: actions/checkout@v5
      - name: Build the collection
        run: ansible-galaxy collection build -v --force community.molecule
      - name: Publish the collection on Galaxy
        if: env.ANSIBLE_GALAXY_API_KEY != ''
        env:
          ANSIBLE_GALAXY_API_KEY: ${{ secrets.ansible_galaxy_api_key }}
        run: |
          [[ "$ANSIBLE_GALAXY_API_KEY" ]] || { echo "ANSIBLE_GALAXY_API_KEY is required to publish on galaxy" ; exit 1; }
          TARBALL=$(ls -1 ./*.tar.gz)
          ansible-galaxy collection publish "${TARBALL}" --api-key "$ANSIBLE_GALAXY_API_KEY"

  forum_post:
    if: "${{ github.event_name == 'release' }}"
    needs: release
    runs-on: ubuntu-24.04

    steps:
      - name: Retreive the forum post script from team-devtools
        run: curl -O https://raw.githubusercontent.com/ansible/team-devtools/main/.github/workflows/forum_post.py

      - name: Run the forum post script
        run: python3 forum_post.py ${{ github.event.repository.full_name }} ${{ github.event.release.tag_name }} ${{ secrets.FORUM_KEY }} ${{ secrets.FORUM_USER }}
